<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>User list</title>
  </head>
  <body>
    <table>
      <tr>
        <th>名前</th>
        <th>email</th>
        <th>更新</th>
        <th>削除</th>
      </tr>
    </table>
    <!--こちらに基礎課題で言われてる内容を記述しましょう。ここから-->
    <p id="textTag"></p>
    <p id="textTag2"></p>
    <ul id="petList"></ul>
    <div id="memberList"></div>

    <!--こちらに基礎課題で言われてる内容を記述しましょう。ここまで-->
    <script type="text/javascript">
      // 参考例
      let textTag = document.getElementById("textTag");
      let NUMBER = `<%= number %>`;
      textTag.innerHTML = NUMBER;

      // ここからはapp.jsで作成した値をここでブラウザに出力するように機能を実装していきましょう。上記の参考例を元にやってみましょう。
      // 基礎課題01:画面に表示する機能作りましょう。
      let textTag2 = document.getElementById("textTag2");
      let food = `<%= food %>`;
      textTag2.innerHTML = food;

      /*
        基礎課題02,03をやる前に
        配列とオブジェクトリストをapp.jsから取得するときに以下のやり方が必要になります。
        変数名は自由に決めてください。プロパティ名についてはapp.jsでオブジェクト内に格納したプロパティ名を使用してください。
        以下使用する際は<%#の「#」部分を「=」に変更するよう気をつけてください。%>
        let 変数名 = JSON.parse('<%# JSON.stringify(プロパティ名) %>'.replace(/&#34;/g, '"'));
        */

      // 基礎課題02:HTML内にulタグを作成し、liタグでapp.jsで作成した情報を画面に表示して下さい。
      let pet = JSON.parse("<%= JSON.stringify(pet) %>".replace(/&#34;/g, '"'));
      // ↑は、文字化けを防いで配列を表示させるための記述

      let petList = document.getElementById("petList");

      pet.forEach((pets) => {
        let li = document.createElement("li");
        petList.appendChild(li);
        li.textContent = pets;
      });

      // 基礎課題03:作成したオブジェクトリストをブラウザに出力して下さい。その場合以下の様に出力して下さい。
      // 例）
      // name: s.chiba
      // email: s.chiba@gmail.com
      let members = JSON.parse(
        "<%= JSON.stringify(users) %>".replace(/&#34;/g, '"')
      );

      let memberList = document.getElementById("memberList");

      members.forEach((member) => {
        memberList.insertAdjacentHTML(
          "beforeend",
          `<ul>
            <li>name: ${member.name}</li>
            <li>email: ${member.email}</li>
          </ul>`
        );
      });
    </script>
  </body>
</html>
