<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>User list</title>
  </head>
  <body>
    <table>
      <tr>
        <th>名前</th>
        <th>email</th>
        <th>更新</th>
        <th>削除</th>
      </tr>
    </table>
    <!--こちらに基礎課題で言われてる内容を記述しましょう。ここから-->
    <p id="textTag"></p>

    <!--こちらに基礎課題で言われてる内容を記述しましょう。ここまで-->
    <script type="text/javascript"></script>
  </body>
</html>
